In [1]:
import numpy as np
import pandas as pd

%matplotlib inline
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
from collections import Counter


# for visualization
import plotly.graph_objs as go
import plotly.express as px

In [2]:
times = pd.read_csv('/Users/kimginam/Kaggle/DATA/timesData.csv')

In [3]:
south_korea = times.loc[times['country'] == 'South Korea']
United_States_of_America = times.loc[times['country'] == 'United States of America']
United_Kingdom = times.loc[times['country'] == 'United Kingdom']
Germany = times.loc[times['country'] == 'Germany']
Australia = times.loc[times['country'] == 'Australia']
Canada = times.loc[times['country'] == 'Canada']
Japan = times.loc[times['country'] == 'Japan']
Italy = times.loc[times['country'] == 'Italy']
Spain = times.loc[times['country'] == 'Spain']
China = times.loc[times['country'] == 'China']
Netherlands = times.loc[times['country'] == 'Netherlands']
France = times.loc[times['country'] == 'France']
Taiwan = times.loc[times['country'] == 'Taiwan']
Sweden = times.loc[times['country'] == 'Sweden']
Switzerland = times.loc[times['country'] == 'Switzerland']

In [4]:
south_korea['university_name'].value_counts().count()

24

In [5]:
United_Kingdom.loc[United_Kingdom['year'] == 2016].count()

world_rank                77
university_name           77
country                   77
teaching                  77
international             77
research                  77
citations                 77
income                    77
total_score               77
num_students              75
student_staff_ratio       75
international_students    75
female_male_ratio         75
year                      77
dtype: int64

In [6]:
south_korea_2016 = south_korea.loc[south_korea['year'] == 2016]

In [7]:
south_korea_2016['num_students'] = south_korea_2016.num_students.str.replace(',', '').astype(int)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [8]:
south_korea.loc[south_korea['university_name'] == 'Korea Advanced Institute of Science']
south_korea[south_korea['university_name'].str.contains("Korea Advanced Institute of Science")]

,world_rank,university_name,country,teaching,international,research,citations,income,total_score,num_students,student_staff_ratio,international_students,female_male_ratio,year
78,79,Korea Advanced Institute of Science and Techno...,South Korea,71.3,36.7,63.4,45.5,100.0,59.5,"9,027",10.0,9%,20 : 80,2011
293,94,Korea Advanced Institute of Science and Techno...,South Korea,64.2,29.3,54.6,47.1,100.0,54.5,"9,027",10.0,9%,20 : 80,2012
669,68,Korea Advanced Institute of Science and Techno...,South Korea,69.9,31.1,68.9,58.4,100.0,64.0,"9,027",10.0,9%,20 : 80,2013
1057,56,Korea Advanced Institute of Science and Techno...,South Korea,65.6,34.3,60.0,67.0,100.0,62.9,"9,027",10.0,9%,20 : 80,2014
1453,52,Korea Advanced Institute of Science and Techno...,South Korea,63.5,34.9,63.2,71.4,100.0,64.5,"9,027",10.0,9%,20 : 80,2015
1951,148,Korea Advanced Institute of Science and Techno...,South Korea,43.3,33.9,40.5,75.9,100.0,53.0,"9,027",10.0,9%,20 : 80,2016