In [2]:
import numpy as np
import pandas as pd

%matplotlib inline
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

import re
import string
import nltk
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')
nltk.download('wordnet')
from nltk.corpus import stopwords, wordnet
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize

from pandas_profiling import ProfileReport

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/kimginam/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /Users/kimginam/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /Users/kimginam/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/kimginam/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [3]:
df = pd.read_csv('/Users/kimginam/Downloads/datasets/Real or not?/train.csv')

In [4]:
df.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [5]:
df['token_text'] = df['text'].apply(word_tokenize)

In [6]:
df['lemma_str'] = [' '.join(map(str, l)) for l in df['token_text']]

In [7]:
df

,id,keyword,location,text,target,token_text,lemma_str
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1,"[Our, Deeds, are, the, Reason, of, this, #, ea...",Our Deeds are the Reason of this # earthquake ...
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1,"[Forest, fire, near, La, Ronge, Sask, ., Canada]",Forest fire near La Ronge Sask . Canada
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1,"[All, residents, asked, to, 'shelter, in, plac...",All residents asked to 'shelter in place ' are...
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1,"[13,000, people, receive, #, wildfires, evacua...","13,000 people receive # wildfires evacuation o..."
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1,"[Just, got, sent, this, photo, from, Ruby, #, ...",Just got sent this photo from Ruby # Alaska as...
...,...,...,...,...,...,...,...
7608,10869,NaN,NaN,Two giant cranes holding a bridge collapse int...,1,"[Two, giant, cranes, holding, a, bridge, colla...",Two giant cranes holding a bridge collapse int...
7609,10870,NaN,NaN,@aria_ahrary @TheTawniest The out of control w...,1,"[@, aria_ahrary, @, TheTawniest, The, out, of,...",@ aria_ahrary @ TheTawniest The out of control...
7610,10871,NaN,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1,"[M1.94, [, 01:04, UTC, ], ?, 5km, S, of, Volca...",M1.94 [ 01:04 UTC ] ? 5km S of Volcano Hawaii ...
7611,10872,NaN,NaN,Police investigating after an e-bike collided ...,1,"[Police, investigating, after, an, e-bike, col...",Police investigating after an e-bike collided ...
7612,10873,NaN,NaN,The Latest: More Homes Razed by Northern Calif...,1,"[The, Latest, :, More, Homes, Razed, by, North...",The Latest : More Homes Razed by Northern Cali...

In [8]:
def addition(n):
    return n * 3

add = (3, 4)
result = map(addition, add)
print(list(result))

[9, 12]

In [11]:
dfff = pd.DataFrame(df['text'].value_counts())

In [12]:
dfff

                                                    text
11-Year-Old Boy Charged With Manslaughter of To...    10
#Bestnaijamade: 16yr old PKK suicide bomber who...     6
The Prophet (peace be upon him) said 'Save your...     6
He came to a land which was engulfed in tribal ...     6
Madhya Pradesh Train Derailment: Village Youth ...     5
...                                                  ...
Leicester_Merc : ICYMI - #Ashes 2015: Australia...     1
'60 all out? What!' - World reacts to Aussie co...     1
Strengthening partnerships #AfterHaiyan http://...     1
@RomeoCrow Most welcome! Organizing Twitter to ...     1
Drought fuels bush fires in Jamaica - http://t....     1

[7503 rows x 1 columns]

In [13]:
dfff['asd'] = dfff.index

In [14]:
dfff

,text,asd
11-Year-Old Boy Charged With Manslaughter of Toddler: Report: An 11-year-old boy has been charged with manslaughter over the fatal sh...,10,11-Year-Old Boy Charged With Manslaughter of T...
#Bestnaijamade: 16yr old PKK suicide bomber who detonated bomb in ... http://t.co/KSAwlYuX02 bestnaijamade bestnaijamade bestnaijamade beÛ_,6,#Bestnaijamade: 16yr old PKK suicide bomber wh...
The Prophet (peace be upon him) said 'Save yourself from Hellfire even if it is by giving half a date in charity.',6,The Prophet (peace be upon him) said 'Save you...
He came to a land which was engulfed in tribal war and turned it into a land of peace i.e. Madinah. #ProphetMuhammad #islam,6,He came to a land which was engulfed in tribal...
Madhya Pradesh Train Derailment: Village Youth Saved Many Lives,5,Madhya Pradesh Train Derailment: Village Youth...
...,...,...
Leicester_Merc : ICYMI - #Ashes 2015: Australia collapse at Trent Bridge - how Twitter reaÛ_ http://t.co/HqeWMREysO) http://t.co/y4y8fclJED,1,Leicester_Merc : ICYMI - #Ashes 2015: Australi...
'60 all out? What!' - World reacts to Aussie collapse http://t.co/I6zQlk2Puz,1,'60 all out? What!' - World reacts to Aussie c...
Strengthening partnerships #AfterHaiyan http://t.co/Ga14egplw9 #Haiyan #YolandaPh #Philippines #livelihood #disasterrecovery #disaster,1,Strengthening partnerships #AfterHaiyan http:/...
@RomeoCrow Most welcome! Organizing Twitter to find the important stuff amongst the deluge! BTW loving the music and signed up for the EP!,1,@RomeoCrow Most welcome! Organizing Twitter to...
Drought fuels bush fires in Jamaica - http://t.co/0YMF6TXFcH http://t.co/3i3d2NGeNt - @JamaicaObserver @cnewslive RE https://t.co/jyIEkEo2he,1,Drought fuels bush fires in Jamaica - http://t...

In [15]:
dfff.columns = ['counts', 'words']

In [16]:
dfff

,counts,words
11-Year-Old Boy Charged With Manslaughter of Toddler: Report: An 11-year-old boy has been charged with manslaughter over the fatal sh...,10,11-Year-Old Boy Charged With Manslaughter of T...
#Bestnaijamade: 16yr old PKK suicide bomber who detonated bomb in ... http://t.co/KSAwlYuX02 bestnaijamade bestnaijamade bestnaijamade beÛ_,6,#Bestnaijamade: 16yr old PKK suicide bomber wh...
The Prophet (peace be upon him) said 'Save yourself from Hellfire even if it is by giving half a date in charity.',6,The Prophet (peace be upon him) said 'Save you...
He came to a land which was engulfed in tribal war and turned it into a land of peace i.e. Madinah. #ProphetMuhammad #islam,6,He came to a land which was engulfed in tribal...
Madhya Pradesh Train Derailment: Village Youth Saved Many Lives,5,Madhya Pradesh Train Derailment: Village Youth...
...,...,...
Leicester_Merc : ICYMI - #Ashes 2015: Australia collapse at Trent Bridge - how Twitter reaÛ_ http://t.co/HqeWMREysO) http://t.co/y4y8fclJED,1,Leicester_Merc : ICYMI - #Ashes 2015: Australi...
'60 all out? What!' - World reacts to Aussie collapse http://t.co/I6zQlk2Puz,1,'60 all out? What!' - World reacts to Aussie c...
Strengthening partnerships #AfterHaiyan http://t.co/Ga14egplw9 #Haiyan #YolandaPh #Philippines #livelihood #disasterrecovery #disaster,1,Strengthening partnerships #AfterHaiyan http:/...
@RomeoCrow Most welcome! Organizing Twitter to find the important stuff amongst the deluge! BTW loving the music and signed up for the EP!,1,@RomeoCrow Most welcome! Organizing Twitter to...
Drought fuels bush fires in Jamaica - http://t.co/0YMF6TXFcH http://t.co/3i3d2NGeNt - @JamaicaObserver @cnewslive RE https://t.co/jyIEkEo2he,1,Drought fuels bush fires in Jamaica - http://t...

In [17]:
dfff = dfff.reset_index().drop('index', axis=1)

In [18]:
dfff

      counts                                              words
0         10  11-Year-Old Boy Charged With Manslaughter of T...
1          6  #Bestnaijamade: 16yr old PKK suicide bomber wh...
2          6  The Prophet (peace be upon him) said 'Save you...
3          6  He came to a land which was engulfed in tribal...
4          5  Madhya Pradesh Train Derailment: Village Youth...
...      ...                                                ...
7498       1  Leicester_Merc : ICYMI - #Ashes 2015: Australi...
7499       1  '60 all out? What!' - World reacts to Aussie c...
7500       1  Strengthening partnerships #AfterHaiyan http:/...
7501       1  @RomeoCrow Most welcome! Organizing Twitter to...
7502       1  Drought fuels bush fires in Jamaica - http://t...

[7503 rows x 2 columns]